html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Inter', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --black: #0c1117;
    --white: #f3f3f3;
    --gray: #cbd5e0;
    --dark-gray: #7c8590;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--black);
}

.main-title h1 {
    font-size: 250%;
}

.main-title p {
    margin-top: 10px;
    font-size: 70%;
}

article {
    margin-top: 20px;
    width: 60vw;
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid var(--black);
}

.question-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.question-main button {
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
}

.question-text {
    margin-top: 5px;
    font-size: 70%;
    display: block;
    text-align: left;
    display: none;
}

.question-text p {
    padding: 10px 0;
}

.question-main, .question-text {
    line-height: 1.3;
}

/* show text */
.show-text {
    display: block;
}